
/*!!!!!!!!!!!!!!!!!!!!!!!!!!BASE STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
h1{
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    color: darkslategrey;
}

div{
    box-sizing: border-box;
    background-color: dimgrey;
    border: 2px solid black;
    padding-left: 5px;
}

span{
    box-sizing: border-box;
    float: right;
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    position: relative;
    right: 0px;
}

#left_inner{
    background-color: burlywood;
}

#centre_inner{
    background-color: coral;   
}

#right_inner{
    background-color: darkkhaki;
}

.row{
    width: 100%;
    border: none;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!DESKTOP STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 992px){
.col-lg-1{    
    float: left;
    margin-left: 100px;    
    width: 400px;
}

.col-lg-2{  
    width: 400px;
    float: left;
    display: inline-block;    
    margin-left: 50px;        
    margin-right: 50px;
}

.col-lg-3{
    float: left;
    margin-right: auto;    
    width: 400px;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!TABLET STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 991px) and (min-width: 768px){
    .col-md-1, .col-md-2{
        float: left;
        width: 50%;
        margin-bottom: 50px;
    }
    
    .col-md-2{
        margin-left: 10px;
    }
    
    .col-md-1{
        width: 100%;
    }
    
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!MOBILE STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 767px){
    
    
}
